ion-toolbar {
  --background: rgb(74, 6, 6);
}

ion-searchbar {
  --background: rgb(46, 2, 2);
}

.image {
  max-width: 6em;
  max-height: 6em;
  position: absolute;
  left: 1em;

}

.text {
  position: relative;
  left: 9em;
}
